@model StokTakipSistemi.Models.ALT_DEPO
@{
    ViewBag.Title = "Alt Depo Ekle";
}

<h2>Alt Depo Ekle</h2>

@using (Html.BeginForm("AltDepoKaydet", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.ALT_DEPO_ADI)
        @Html.TextBoxFor(model => model.ALT_DEPO_ADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ALT_DEPO_ADI)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.STATU)
        @Html.TextBoxFor(model => model.STATU, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.STATU)
    </div>

    <div class="form-group">
        @Html.Label("Depo Seçiniz")
        @Html.DropDownList("DEPO_ID", (SelectList)ViewBag.DepoListesi, "-- Depo Seçiniz --", new { @class = "form-control" })
    </div>
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <button type="submit" class="btn btn-primary">Alt Depo Ekle</button>
}
