@model StokTakipSistemi.Models.KULLANICI
@{
    ViewBag.Title = "Admin Login";

    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
}


<h2>Admin Girişi</h2>


@using (Html.BeginForm("Login", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label style="font-size:16px;"><b>Username</b></label>

        @Html.TextBoxFor(m => m.KUL_USERNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KUL_USERNAME, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label style="font-size:16px;"><b>Şifre</b></label>

        @Html.PasswordFor(m => m.KUL_SIFRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.KUL_SIFRE, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
}


